# Dépendances
node_modules/

# Fichiers d'environnement
.env

# Logs
logs
*.log
npm-debug.log*

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de couverture de test
coverage/

# Fichiers de build
dist/
build/

# Fichiers temporaires
*.tmp
*.temp