/* Styles de base (mobile) */
 
.auth-container{
   position: relative;
   background: #fff;
   box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1),
   0 10px 15px -3px,
   0 4px 6px -4px;
   border-radius: .5rem;
   color: rgb(55 65 81);
   height: 100%;
}

.sign-in, .reset-password{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   padding: 2rem;
   height: 100%;
   transition: opacity .8s, transform .7s;
   z-index: 2;
}


.fade-enter-active,
.fade-leave-active {
transition: opacity .2s ease;
}

.fade-enter-from,
.fade-leave-to {
opacity: 0;
}


 /* Tablettes */
 @media (min-width: 768px) {
   .auth-container{
      width: 48rem;
      max-width: 100%;
      min-height: 480px;
   }

   .sign-in, .reset-password{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 3rem;
      position: absolute;
      height: 100%;
      width: 50%;
      transition: opacity .8s, transform .7s;
      z-index: 2;
   }
   
   .sign-in{
      left: 50%;   
   }
   
   .auth-img{
      background: url("../../images/jogging.webp");
      background-size: cover;
      background-position: -9rem;
      height: 100%;
      width: 50%;
      border-radius: .5rem 0 0 .5rem;
      z-index: 3;
      transition: all 0.6s ease-in-out;
      position: absolute;
      transform: translateX(0%)
   }

   .fade-enter-active,
   .fade-leave-active {
   transition: opacity .3s ease;
   }
   
   .toggle-form .auth-img{
      transform: translateX(100%);
      border-radius: 0 .5rem .5rem 0;
   }
 }

/* Desktop */
@media (min-width: 1024px) {
   .auth-container{
      width: 56rem;
      max-width: 100%;
      min-height: 480px;
   }  
}

